section.myself.fullheight(itemscope, itemprop='Person', itemtype='http://schema.org/Person')
  section.profile
    img(alt='myself, wearing a black coat at the NY Grand Central', src='photo.jpg', itemprop='image')
    h1.name(itemprop='name')
      | Mauricio Vieira
    h2.about(itemprop='jobTitle')
      | Software Engineer
    section.contact
      span.email(itemprop='email')
        | contact@mauriciovieira.net
  section.social
    a(href='http://blog.mauriciovieira.net', target='_blank')
      img(src='logos/blog.svg', alt='blog logo')
    a(href='https://facebook.com/mbcvieira', target='_blank')
      img(src='logos/facebook.svg', alt='facebook logo')
    a(href='https://github.com/mauriciovieira', target='_blank')
      img(src='logos/github.svg', alt='github logo')
    a(href='https://google.com/+MauricioVieiraDotNet', target='_blank')
      img(src='logos/googleplus-square.svg', alt='google plus logo')
    a(href='https://linkedin.com/in/mauriciovieira', target='_blank')
      img(src='logos/linkedin.svg', alt='linkedin logo')
    a(href='https://soundcloud.com/mbcvieira', target='_blank')
      img(src='logos/soundcloud.svg', alt='soundcloud logo')
    a(href='https://twitter.com/mauriciovieira', target='_blank')
      img(src='logos/twitter.svg', alt='twitter logo')
  section.languages
    a.language.active(href='#en') English
    a.language(href='#es') Español
    a.language(href='#pt-BR') Português